In [7]:
!python --version

Python 3.10.9

# Long time no see

In [8]:
name = input ("type your name:")

In [9]:
print("Hello", name, sep='-' ,end='') #screen output

Hello-Leo

In [10]:
print ("abc", end=' ')
print ("123", end=' ')

abc 123

In [11]:
print("abc")
print("123")

abc
123

# DataType

In [12]:
seq = 'ATCG'
x = 1
y = 2.0

In [13]:
print(type(seq))
print(type(x))
print(type(y))

# class 用來定義類別，類別(class)是規劃物件(object)的藍圖，物件屬性 (attribute) 及方法 (method) 都要在類別中定義

<class 'str'>
<class 'int'>
<class 'float'>

In [14]:
a = input("input number: ")

In [15]:
print (type(a))

<class 'str'>

In [ ]:
a1 = 10
a1

In [ ]:
print (type(a1))

In [ ]:
b = input("input number: ")

In [ ]:
print(type(a))
print(type(b))
print(a + b)

In [ ]:
print('a + b')

In [ ]:
print(10 + 20)
print('10' + '20')
print('10' + 20)

In [18]:
str1 = 'Ru'
balance = 12000
print(' Hello %s your salary is %d' % (str1, balance) )

 Hello Ru your salary is 12000

In [ ]:
# %s -> string
# %d -> Integer
# %f -> Float
# %o -> Octal
# %x -> Hexadecimal
# %e -> exponential

In [19]:
print ('Hello {} your salary is {}'.format(str1, balance))

Hello Ru your salary is 12000

In [ ]:
# :s string output
# :f float output
# :% percent output

In [20]:
print('{}, {} and {}'.format('Tom','Eric','Jack'))
print('{1}, {2} and {0}'.format('Tom','Eric','Jack'))
print('{c}, {a} and {b}'.format(a='Tom',b='Eric',c='Jack'))
print('{:*<8}, {:>8} and {:8}'.format('Tom','Eric','Jack'))
print('{}, {} and {}'.format('Tom','Eric','Jack'))
print('{:0>5.1f}'.format(25.890372))

Tom, Eric and Jack
Eric, Jack and Tom
Jack, Tom and Eric
Tom*****,     Eric and Jack
Tom, Eric and Jack
025.9

# Variables

In [21]:
a = '10' # Variables are containers for storing data values.
print(type(a))
print(type(int(a)))
print(type(bool(a)))
print(bool(a))
b = ''
print(bool(b))

<class 'str'>
<class 'int'>
<class 'bool'>
True
False

In [ ]:
c = None
print(bool(c))

In [23]:
a = 7
b = 7
print('a id:', id(a))
print('b id:', id(b))
print(a is b)

a id: 2178206466480
b id: 2178206466480
True

In [24]:
b = 8
print('a id:', id(a))
print('b id:', id(b))
print(a is b)

a id: 2178206466480
b id: 2178206466512
False

In [25]:
a,b,c = 101,102,103
print(b)

102

# Operator

In [26]:
print(3 * 4)
print('Hi' + 4)

12

TypeError: can only concatenate str (not "int") to str

In [ ]:
print ('Hi' * 4)

In [ ]:
print(10 / 2)
print(10 / 0)

In [27]:
print(123 == '123')
print(123 == int('123'))
print('ABC' == 'abc')
print(True == 1)
print(False == 0)
print(False == '')
print(False == bool(''))

False
True
False
True
True
False
True

In [28]:
print((5<=9) and (3>7))
print((5<=9) or  (3>7))
print((10 <= 9) and (8 > 7))
print((10 <= 9) and (8 < 7))
print((10 >= 9) and (8 > 7))

False
True
False
False
True

In [29]:
print(3 + 4 - 2)
print(25 < 10 + 3 * 4) # 25 < (10 + 12) -> 25 <22
print(6 / 2 * (1+2)) #6 / 2 * 3 -> 3 * 3
print(25 / 5 + 3 * 3 + 2 ** 3 + 13 % 9 // 2 )
# 5 + 9 + 8 + 4 // 2 -> 5 + 9 + 8 + 2
print(25 / 5 + 3 * 3 + 2 ** 3 + 13 % (9 // 2) )
# 5 + 9 + 8 + 4 // 2 -> 5 + 9 + 8 + 1

5
False
9.0
24.0
23.0

# Random

In [31]:
import random

In [32]:
print(random.random()) #0 <= x < 1
print(random.randint(1,10)) # x is int and random, 1 < x < 10
print(random.choice('abcdefg')) # choice from abcdefg
print(random.choice(range(0,11))) # 0<=  <11 int

0.3661670577115964
2
c
1

# if struct

In [33]:
weight = int (input('weight(kg): '))
height = int (input('height(cm): '))
height /= 100
bmi = weight / (height ** 2)
print(bmi)

19.362472659471475

In [37]:
print('BMI{:.1f}'.format(bmi)) #.1f float one decimal places
if bmi < 18.5:
    print('light')
elif bmi > 27:
    print('heavy')
else:
    print('normal')

BMI19.4
normal

# For Loop

In [38]:
for i in range(0,11): # 0-10
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [39]:
for n in range(10):
    print('Hello world{}!!'.format(n))

Hello world0!!
Hello world1!!
Hello world2!!
Hello world3!!
Hello world4!!
Hello world5!!
Hello world6!!
Hello world7!!
Hello world8!!
Hello world9!!

In [41]:
sum = 0
for n in range(0,11):
    sum += n
    print(sum)
print('0+1+2+...+11={}'.format(sum))

0
1
3
6
10
15
21
28
36
45
55
0+1+2+...+100=55

In [43]:
for n in range (3,0,-1):
    print('*' * n)

***
**
*

In [44]:
for n in range (3,0,-1):
    print(" " * (3-n) + "*" * n)

***
 **
  *

# While

In [45]:
while 1:
    text = input("Enter birthdate, then press 'q' to leave:")
    if text == "q":
        print ("end!!")
        break
    print(text)

44444254
56465
456456465
543546
end!!

In [46]:
i = 0
while i < 5:
    i += 1
    if i == 3:
         continue
    print(i)

1
2
4
5

In [49]:
n=5
i=0
while i<n:
    print(i)
    if (i==3):
        print('%d'%1)
        # break
    i += 1
else:
    print("ok")

0
1
2
3
1
4
ok

In [50]:
import random
target = random.randint(1,100)
guess = 1
while True:
    guess = int(input("input a number will be guessed (1-100), input 0 exit =>"))
    if target == guess or guess == 0:
        break
    if guess > target:
        print("The number is too big!")
    else:
        print("The number is too small!")
if guess == 0:
    print("welcome next time")
else:
    print("Bingo the number is " + str(target))

The number is too small!
The number is too small!
The number is too small!
The number is too big!
The number is too small!
The number is too small!
The number is too small!
The number is too small!
The number is too small!
The number is too small!
The number is too small!
The number is too small!
The number is too small!
The number is too big!
The number is too big!
The number is too big!
Bingo = 97

# Exercise 1: 讀取輸入數字,先判斷是否為整數,再判斷是為奇數或偶數

# 提示:判斷是否為整數--if number.isdigit():

In [51]:
x='5'
x.isdigit()

True

In [56]:
num = input('Input a int number :')
if num.isdigit() ==True:
    print("Input is number")
    if int(num)%2 == 0:
        print("This is even")
    else:
        print("This is odd")

Input is number
This is odd

# Exercise 2: 讀取輸入西元年份,判斷年份是否為閏年 １.不可被4整除者為平年。 ２.可被4整除且不為100整除者為閏年。 ３.可被400整除為閏年。

In [78]:
year = int(input('which year?'))
if (year % 4) > 0 :
    print ("This is normal year")
elif (year % 100) > 0:
    print ("This is leap year")
elif (year % 400) == 0:
    print ("This is leap year")
else:
    print ("This is normal year")

This is normal year

# Exercise 3:列出1到1000(含)中不是2或5的倍數

In [70]:
for i in range(1,1001):
    if ((i % 2) > 0):
        if ((i % 5) > 0):
            print (i)

1
3
7
9
11
13
17
19
21
23
27
29
31
33
37
39
41
43
47
49
51
53
57
59
61
63
67
69
71
73
77
79
81
83
87
89
91
93
97
99

# Exercise 4. Write a Python program to construct the following pattern, using a nested for loop.

In [94]:
for n in range(0,5):
    print('* '  * n)
for n in range(5,0,-1):
    print('* '  * n)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [46]:
print("Enter number")
number = int(input())
endnum=abs(number)+1
ans = 1
for n in range(1,endnum):
    ans *= n

text = str(number) + "! = "
if number > 0 :
    for n in range(number,0,-1):
        if not n == 1 :
            text += str(n)+" x "
        else:
            text += str(n)+" = "
else:
    for n in range(1,endnum,1):
        if not n == abs(number) :
            text += str(n)+" x "
        else:
            text += str(n)+" = "

print(text + str(ans))

Enter number
-5! = 1 x 2 x 3 x 4 x 5 = 120

In [62]:
print("Enter number")
number = int(input())
n=abs(number)

ans = 1
if n == 0 :
    print ("0! = 1")
else :
    while n > 0 :
        ans *= n
        n -= 1

print ( str(number)+"! = "+str(ans))

Enter number
-3! = 6

# List
# python allow list, set, dict, tuple, string

In [63]:
# Build a List
listdemo = list(["a","b","c"])
listdemo = ["a","b","c"]
listdemo = list("abc")
listdemo = "a, b, c".split(",")
listdemo

['a', ' b', ' c']

In [65]:
listdemo = list (range(0,10,2))
print(listdemo)

[0, 2, 4, 6, 8]

In [66]:
listdemo = [1, 2]
print(listdemo)
listdemo += [3, 4]
print(listdemo)
listdemo.append("b")
print(listdemo)
listdemo2 = ["c","d"]
listdemo.extend(listdemo2)
print(listdemo)
listdemo.insert(4, "a")
print(listdemo)

[1, 2]
[1, 2, 3, 4]
[1, 2, 3, 4, 'b']
[1, 2, 3, 4, 'b', 'c', 'd']
[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [67]:
listdemo = ["string", True, 30.5]
listdemo2 = [1,2,3,4]
listdemo3 = listdemo + listdemo2 # can't accept -, *, /
listdemo3

['string', True, 30.5, 1, 2, 3, 4]

In [68]:
# read list[start:end[:step]]
# Get between start number and end number , not include end number
# start not set ,default index 0 value
# end not set ,defaut index end value
print (listdemo3)
print (listdemo3[0])
print (listdemo3[1])
print (listdemo3[-1])
print (listdemo3[2:5])
print (listdemo3[:3])
print (listdemo3[3:])
print (listdemo3[3:7])
print (listdemo3[3:6])

['string', True, 30.5, 1, 2, 3, 4]
string
True
4
[30.5, 1, 2]
['string', True, 30.5]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3]

In [69]:
# replace
listdemo3[1] = False
print (listdemo3)
listdemo3[-4:] = [5, 6, 7, 8]
print(listdemo3)

['string', False, 30.5, 1, 2, 3, 4]
['string', False, 30.5, 5, 6, 7, 8]

In [70]:
del(listdemo3[1])
print(listdemo3)
listdemo3.remove(30.5)
print(listdemo3)

['string', 30.5, 5, 6, 7, 8]
['string', 5, 6, 7, 8]

In [72]:
listdemo2 = [1, 2, 3, 4]
listdemo4 = listdemo2
listdemo4[2] = "c"
print(listdemo4)
print(listdemo2)

[1, 2, 'c', 4]
[1, 2, 'c', 4]

In [74]:
listdemo2 = [1, 2, 3, 4]
listdemo4 = listdemo2[:]
listdemo4[2] = "c"
print(listdemo4)
print(listdemo2)

[1, 2, 'c', 4]
[1, 2, 3, 4]

In [73]:
import copy
listdemo2 = [1, 2, 3, 4]
listdemo4 = copy.copy(listdemo2)
listdemo4[2] = "c"
print(listdemo4)
print(listdemo2)

[1, 2, 'c', 4]
[1, 2, 3, 4]

In [75]:
print(list("abc"))

['a', 'b', 'c']

In [77]:
# for loop
listdemo = []
for letter in "python":
    listdemo.append(letter)
print(listdemo)

['p', 'y', 't', 'h', 'o', 'n']

In [78]:
# List comprehension
listdemo = [x for x in "python"]
print(listdemo)

['p', 'y', 't', 'h', 'o', 'n']

In [79]:
listdemo = [x for x in range(40)]
print(listdemo)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]

In [80]:
listdemo = [x for x in range(40) if x % 3 == 0 if x % 5 == 0]
print(listdemo)

[0, 15, 30]

In [81]:
listdemo = [x*y for x in [1, 2, 3] for y in [10, 100, 1000]]
print(listdemo)

[10, 100, 1000, 20, 200, 2000, 30, 300, 3000]

In [83]:
x = [1, 3, 5, 7, 9, 3]
print(len(x))
print(max(x))
print(min(x))
print(3 in x)
print(6 in x)
print(6 not in x)
print(x.index(5))
print(x.count(3))

6
9
1
True
False
True
2
2

# List can change, Tuple can't change

In [84]:
my_tuple = ("jack", 20,"jack@gmail.com")
print(type(my_tuple))
print(my_tuple[1])
my_tuple[1] = 3

<class 'tuple'>
20

TypeError: 'tuple' object does not support item assignment

In [85]:
print (my_tuple + ("02-xxxxxxx", "0900xxxxxx"))
print (my_tuple * 2)
print ([1, 2] * 2)

('jack', 20, 'jack@gmail.com', '02-xxxxxxx', '0900xxxxxx')
('jack', 20, 'jack@gmail.com', 'jack', 20, 'jack@gmail.com')
[1, 2, 1, 2]

In [86]:
x = (2)
print(type(x))
x = (2,)
print(type(x))

<class 'int'>
<class 'tuple'>

In [87]:
x = (1, 3, 5, 7, 9, 3)
print(len(x))
print(max(x))
print(min(x))
print(3 in x)
print(6 in x)
print(6 not in x)
print(x.index(5))
print(x.count(3))

6
9
1
True
False
True
2
2

In [ ]:
xlist = list(x)

In [ ]:
xtuple = tuple(xlist)

# String

In [89]:
language = "python"
print(len(language))

6

In [91]:
chars = language[2]
print(chars)

t

In [95]:
str = "Hello World"
# [start:end[:step]]
# Get start to end char . Not include end char.
# start not set. Begin with 0.
# If end not set then end is end.

In [96]:
print(str[0:5])
print(str[:3])
print(str[6:])
print(str[:])
print(str [::3])

Hello
Hel
World
Hello World
HlWl

In [97]:
str = "The Age of Earth"
#count() is char count
print(str.count("e",0,len(str)))
print(str.count("e",0,7))
print(str.count("e",0,6))
print(str.count("e"))
print(str.count("Th"))

2
2
1
2
1

In [98]:
str = "the age of earth"
print(str.upper())
print(str.capitalize())
print(str.title())
str_title = str.title()
print(str_title.swapcase())

THE AGE OF EARTH
The age of earth
The Age Of Earth
tHE aGE oF eARTH

In [99]:
print (str.endswith("th"))
print(str.startswith("the"))

True
True

In [120]:
str1 = "ai123"
print("str1")
print(str1.isalpha())
print(str1.isalnum())

str2 = "abc"
print("str2")
print(str2.isalpha())
print(str2.isalnum())
print(str2.isnumeric())

str3 ="123"
print("str3")
print(str3.isalpha())
print(str3.isalnum())
print(str3.isnumeric())

# The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9).

str1
False
True
str2
True
True
False
str3
False
True
True

In [101]:
str2 = " aiot "
print(len(str2))
print(len(str2.strip()))
print(str.split(" "))

6
4
['the', 'age', 'of', 'earth']

In [103]:
print ("Hello World\
       Hello World\
       Hello World")

Hello World       Hello World       Hello World

# Escape Character 「\」 (\t) (\n)

In [104]:
print("abc\tef")
print("abc\\tef")
print("abc\"tef")
print('abc\'tef')

abc	ef
abc\tef
abc"tef
abc'tef

In [105]:
print('abcd\befg')
print('abc\ndef')

abcefg
abc
def

In [106]:
print("C:\program Files\tython37-32\back")
print("C:\\program Files\\tython37-32\\back")
print(r"C:\\program Files\tython37-32\back")

C:\program Files	ython37-3ack
C:\program Files\tython37-32\back
C:\\program Files\tython37-32\back

# Dictionary

In [107]:
x = {"name":"Alan","age":30} # key:value
y = dict(name="Alan",age=30)
z = dict([("name","Alan"),("age",30)])
print(x)
print(y)
print(z)

{'name': 'Alan', 'age': 30}
{'name': 'Alan', 'age': 30}
{'name': 'Alan', 'age': 30}

In [108]:
# Read
print(x["name"])
print(x["age"])

Alan
30

In [109]:
x.keys()

dict_keys(['name', 'age'])

In [110]:
x.values()

dict_values(['Alan', 30])

In [135]:
x.items()

for i in x.items():
    print(i)
    
for i in x:
    print(i)

for i in x.values():
    print(i)

('name', 'Sameer')
('age', 19)
('city', 'Dungarpur')
name
age
city
Sameer
19
Dungarpur

In [112]:
#kekky exist=>modify value, key not exist=>add key:value
x["age"] = 20
print(x)
x["email"] = "Jack@gmail.com"
print(x)

{'name': 'Alan', 'age': 20}
{'name': 'Alan', 'age': 20, 'email': 'Jack@gmail.com'}

In [113]:
del x ["age"]
print(x)
print("name" in x)
print("age" in x)
for key in x:
    print("key:", key, "\n", "value:", x[key])

{'name': 'Alan', 'email': 'Jack@gmail.com'}
True
False
key: name
 value: Alan
key: email
 value: Jack@gmail.com

In [ ]:
#zip() function is used to combine two lists.
# list1 = ["name","age","city"]
# list2 = ["XYZ",19,"New York"]

# list(zip(list1, list2))  returns
#     [('name','XYZ'),('age',19),('city','New York')] #list of tuples, what is tuple?

In [121]:
list1 = ["name","age","city"]
list2 = ["xyz",19,"New York"]

list(zip(list1, list2))

[('name', 'xyz'), ('age', 19), ('city', 'New York')]

In [122]:
nums = ["name","age","city"]
vals = ["Sameer",19,"Dungarpur"]
x = zip (nums, vals)
for i in zip(nums, vals):
    print(i)

('name', 'Sameer')
('age', 19)
('city', 'Dungarpur')

In [123]:
x = dict(zip(nums,vals))
print(x)

{'name': 'Sameer', 'age': 19, 'city': 'Dungarpur'}

# Set

In [124]:
my_list = [] # my_tuple = ()
print(type(my_list))

<class 'list'>

In [126]:
my_dict ={}
print(type(my_dict))

<class 'dict'>

In [136]:
my_set = set()
print(type(my_dict))

<class 'dict'>

In [137]:
my_set = set()
print(type(my_set))

<class 'set'>

In [138]:
# my_set = set(('Tom','Tom@gmail.com')) ## my_set = set(('Tom','Tom@gmail.com')) # set(inside), inside: list, tuple, string,...
my_set = {'Tom','Tom@gmail.com'}
print(my_set)

{'Tom', 'Tom@gmail.com'}

In [139]:
#Add
my_set.add(30) #add an individual element
my_set.update(['02-11112222','09112222333']) # Set update method accepts only iterables: Set, List, Tuple, String, Dictionary as a parameter
print(my_set)

{'Tom', 'Tom@gmail.com', '09112222333', '02-11112222', 30}

In [143]:
my_set = {'Tom','Tom@gmail.com'}
my_set.update(('02-11112222','09112223333'))
my_set

{'02-11112222', '09112223333', 'Tom', 'Tom@gmail.com'}

In [146]:
my_set.add(30)
print(my_set)

{'Tom', 'Tom@gmail.com', '09112223333', '02-11112222', 30}

In [148]:
print((1, 1, 1, 2, 2, 3))
print(type((1, 1, 1, 2, 2, 3)))
print(set((1, 1, 1, 2, 2, 3)))
print(type(set((1, 1, 1, 2, 2, 3))))

(1, 1, 1, 2, 2, 3)
<class 'tuple'>
{1, 2, 3}
<class 'set'>

In [ ]:
#Delete
my_set.remove(30)
print(my_set)
my_set.remove(30)

In [149]:
my_set.discard(30)
print(my_set)

{'Tom', 'Tom@gmail.com', '09112223333', '02-11112222'}

**Exercise** 6. 請將  [[1,2],[3,4],[5,6]]  轉成  [1,2,3,4,5,6] # List comprehension

In [3]:
list1 = [[1,2],[3,4],[5,6]]
listans = [invalue for value in list1 for invalue in value]
print(listans)

[1, 2, 3, 4, 5, 6]

In [2]:
list1 = [[1,2],[3,4],[5,6]]
listans = []
for value in list1:
  for invalue in value:
    listans.append(invalue)
print(listans)

[1, 2, 3, 4, 5, 6]

In [7]:
list1 = [[[1,2],[3,4]],[[5,6],[7,8]]]
# listans = [invalue for value in list1 for invalue in value]
listans = [c for a in list1 for b in a for c in b]
print(listans)
list2=[] 
for a in list1:
    for b in a:
        for c in b:
            list2.append(c)
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

**Exercise 7** 
當使用者分別輸入「A」、「B」或「C」時，請利用字典(dict)的方法分別輸出「Apple」、「Banana」或「Cherry」。

In [8]:
dic = {"A":"Apple", "B":"Banana", "C":"Cherry"}

str = input("Enter A/B/C :")

print(dic[str])

Apple

**Exercise** 8. str1 = "Apple", 請以程式將 str1 轉換輸出 {'A': 1,  'p': 2,  'l': 1, 'e': 1}

In [10]:
str1 = "Apple"
countDict = dict()

for char in str1:
    countnum = str1.count(char)
    countDict[char]=countnum

print(countDict)

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [9]:
# All string has key in dic
str1 = "Apple"
countDict = dict()

strList=list(str1)
countDict ={strList[i]:(i+1) for i in range(len(str1))}

print(countDict)

{'A': 1, 'p': 3, 'l': 4, 'e': 5}