In [7]:
!python --version

Python 3.10.9

# Long time no see

In [8]:
name = input ("type your name:")

In [9]:
print("Hello", name, sep='-' ,end='') #screen output

Hello-Leo

In [10]:
print ("abc", end=' ')
print ("123", end=' ')

abc 123

In [11]:
print("abc")
print("123")

abc
123

# DataType

In [12]:
seq = 'ATCG'
x = 1
y = 2.0

In [13]:
print(type(seq))
print(type(x))
print(type(y))

# class 用來定義類別，類別(class)是規劃物件(object)的藍圖，物件屬性 (attribute) 及方法 (method) 都要在類別中定義

<class 'str'>
<class 'int'>
<class 'float'>

In [14]:
a = input("input number: ")

In [15]:
print (type(a))

<class 'str'>

In [ ]:
a1 = 10
a1

In [ ]:
print (type(a1))

In [ ]:
b = input("input number: ")

In [ ]:
print(type(a))
print(type(b))
print(a + b)

In [ ]:
print('a + b')

In [ ]:
print(10 + 20)
print('10' + '20')
print('10' + 20)

In [18]:
str1 = 'Ru'
balance = 12000
print(' Hello %s your salary is %d' % (str1, balance) )

 Hello Ru your salary is 12000

In [ ]:
# %s -> string
# %d -> Integer
# %f -> Float
# %o -> Octal
# %x -> Hexadecimal
# %e -> exponential

In [19]:
print ('Hello {} your salary is {}'.format(str1, balance))

Hello Ru your salary is 12000

In [ ]:
# :s string output
# :f float output
# :% percent output

In [20]:
print('{}, {} and {}'.format('Tom','Eric','Jack'))
print('{1}, {2} and {0}'.format('Tom','Eric','Jack'))
print('{c}, {a} and {b}'.format(a='Tom',b='Eric',c='Jack'))
print('{:*<8}, {:>8} and {:8}'.format('Tom','Eric','Jack'))
print('{}, {} and {}'.format('Tom','Eric','Jack'))
print('{:0>5.1f}'.format(25.890372))

Tom, Eric and Jack
Eric, Jack and Tom
Jack, Tom and Eric
Tom*****,     Eric and Jack
Tom, Eric and Jack
025.9

# Variables

In [21]:
a = '10' # Variables are containers for storing data values.
print(type(a))
print(type(int(a)))
print(type(bool(a)))
print(bool(a))
b = ''
print(bool(b))

<class 'str'>
<class 'int'>
<class 'bool'>
True
False

In [ ]:
c = None
print(bool(c))

In [23]:
a = 7
b = 7
print('a id:', id(a))
print('b id:', id(b))
print(a is b)

a id: 2178206466480
b id: 2178206466480
True

In [24]:
b = 8
print('a id:', id(a))
print('b id:', id(b))
print(a is b)

a id: 2178206466480
b id: 2178206466512
False

In [25]:
a,b,c = 101,102,103
print(b)

102

# Operator

In [26]:
print(3 * 4)
print('Hi' + 4)

12

TypeError: can only concatenate str (not "int") to str

In [ ]:
print ('Hi' * 4)

In [ ]:
print(10 / 2)
print(10 / 0)

In [ ]:
print(123 == '123')
print(123 == int('123'))
print('ABC' == 'abc')
print(True == 1)
print(False == 0)
print(False == '')
print(False == bool(''))